
*.aux
*.log
resume_cv.log
resume_cv.log
cover_letter.pdf
cover_letter.out
cover_letter.synctex.gz
resume_cv.log
resume_cv.log
resume_cv.synctex.gz
cover_letter.synctex.gz
resume_cv.log
resume_cv.log
resume_cv.synctex.gz
*.gz
